/* Mobile view  */

@media screen and (max-width: 576px) {
    .nav-container{
  
    flex-direction: column;
    }

    .nav-item-container{
        flex-direction: column;
        width: 100%;
        text-align: center;
      
    }

    .nav-item-container a{
        margin-top: 20px;
        font-size: 1rem;
      
    }

    .logo-container img{
        width: 50px;
        height: 30px;
        margin-left: 20px;
    
       
    
    }
    .logo-container p{
        font-size: 2.2rem;
    
       
    
    }

    /* banner section area  */
    .banner-container{
        flex-direction: column-reverse;
       
      
        
    }

    .banner-photo ,img{
        width: 100%;
        margin-left: 0px;
     
        
      
    
    }

    
    .banner-text{
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .banner-text p{
       
      text-align: center;

    
    
    }

    /* banner section end  */
    /* online section start  */
    .online-img{
        grid-template-columns: repeat(1 , 1fr);
        width: 100%;
        text-align: center;
        padding: 50px;
        gap: 70px;
        margin-left: 0px;
        
      
    }

    .online-text h3{
       
        font-size: 1.8rem;
        text-align: center;
        
        
    
    
    }
    .funny{
        font-size: 1.8rem;
    }
    .online-text p{
 
        font-size: .8rem;
        
       
    }

   .line{
    display: none;
   }

   .play-btn{
    display: none;

   
    
   }



    /* online section end  */


    /* banner online section start */
    .banner-text{
        width: 100%;
    }
    
    .banner-photo{
        width: 100%;
    
    }

    .banner-online-photo{
         width: 70%;
        padding: 20px;
    }
    .banner-online-text{
        width: 52%;
        padding: 20px;
    }

    .banner-online{
        flex-direction: column-reverse;
    }

    .anywhere{
        font-size: 2rem;
        }
    


    .banner-online-text h3{
        
        margin-left: 0px;
        text-align: center;
        font-size: 2rem;
        
    
    }
    .banner-online-text p{
        
        margin-left: 0px;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
       
        
        
    
    }

    .banner-online-photo img{
        margin-left:0px;
        width: 100%;
        padding: 50px;
        
    }

    .rectangle-photo{
        position: absolute;
        left: 30%;
        text-align: center;
        transform: translateX(30%);
       
       
    }
    .rectangle{
       width: 100%;
       margin-top: -70%;
        
        margin-left: 0px;
        
    }

    .banner-online-photo{
        width: 100%;
    }
    /* .banner-online-photo img{
        margin-left:0px;
        
    } */
   
    
    .banner-online-text{
        width: 100%;
       
      
    }
    /* banner online section end  */


    /* featured area start  */
    .featured-container{
        margin-top: 120px;
        width: 100%;
     }
    
    .featured{
        margin-top: 120px ;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0px;
    
       
    
      
    }

    .rectangle-img{
        width: 30px;
        height: 30px;
       
    }

    .action{
     
        font-size: 10px;
    }

    .action{
        left: 12%;
      
    
    }

    .action{
        margin-top:18px;
     
       
    }
    .adven{
     
        font-size: 10px;
    }

    .adven{
        margin-top:18px;
       
    }
    .arcad{
     
        font-size: 10px;
    }

    .arcad{
        margin-top:18px;
       
    }
    .action{
     
        font-size: 10px;
    }

    .action{
        margin-top:18px;
       
    }
    .action{
     
        font-size: 10px;
    }

    .action{
        margin-top:18px;
       
    }
    .action{
     
        font-size: 10px;
    }

    .action{
        margin-top:18px;
       
    }

    .role , .music , .puzzle , .strategy{
       
        margin-left: 0px;
    }

    
    
}



 /* footer Section  */





/* tablet view  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* nav section start  */

    .nav-container{
  
        flex-direction: column;
        text-align: center;
        }
    
        .nav-item-container{
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-top: 10px;
          
        }
     

        .nav-item-container a{
    
            margin-top: 20px;
        
        }

        /* nav section end  */

           /* banner section area  */
  

    .banner-photo ,img{
        width: 80%;
        margin-left: 0px;
        text-align: center;
        
        
      
    
    }

    
    .banner-text{
        width: 100%;
        text-align: center;
    }

    .banner-text p{
       
      text-align: center;

    
    
    }

    /* banner section end  */

    .banner-online-photo{
        width: 72%;
    }
    .banner-online-text{
        width: 72%;
    }

    .banner-online{
        flex-direction: column-reverse;
    }

    .anywhere{
        font-size: 2.5rem;
        }
    


    .banner-online-text h3{
        
        margin-left: 0px;
        text-align: center;
        font-size: 2rem;
        
    
    }
    .banner-online-text p{
        
        margin-left: 0px;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
        
        
    
    }

    .banner-online-photo img{
        margin-left:0px;
       
        
    }

    .rectangle-photo{
        position: absolute;
        left: 40%;
        text-align: center;
        transform: translateX(40%);
       
       
    }

    /* online section start  */
    .online-img{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 50px;
        
      
    }
    .play-btn, .line{
        display: none;
    }


    /* featured container  */
    .featured{
        /* margin-top: 120px; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0px;
       
    
      
    }

    .music, .role, .puzzle, .strategy{
       
        margin-left: 0px;
    }
    
}