/* Mobile view  */

@media screen and (max-width: 576px) {
    .nav-container{
  
    flex-direction: column;
    }

    .nav-item-container{
        flex-direction: column;
        width: 100%;
        text-align: center;
      
    }

    .nav-item-container a{
        margin-top: 20px;
        font-size: 1rem;
      
    }

    .logo-container img{
        width: 50px;
        height: 30px;
        margin-left: 20px;
    
       
    
    }
    .logo-container p{
        font-size: 2.2rem;
    
       
    
    }

    /* banner section area  */
    .banner-container{
        flex-direction: column-reverse;
       
      
        
    }

    .banner-photo ,img{
        width: 95%;
        margin-left: 0px;
        text-align: center;
        
      
    
    }

    
    .banner-text{
        width: 100%;
        text-align: center;
    }

    .banner-text p{
       
      text-align: center;

    
    
    }

    /* banner section end  */


    /* banner online section start */

    .banner-online-photo{
        width: 72%;
    }
    .banner-online-text{
        width: 72%;
    }

    .banner-online{
        flex-direction: column-reverse;
    }

    .anywhere{
        font-size: 2rem;
        }
    


    .banner-online-text h3{
        
        margin-left: 0px;
        text-align: center;
        font-size: 2rem;
        
    
    }
    .banner-online-text p{
        
        margin-left: 0px;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
        
        
    
    }

    .banner-online-photo img{
        margin-left:0px;
        width: 100%;
        
    }

    .rectangle-photo{
        position: absolute;
        left: 40%;
        text-align: center;
        transform: translateX(40%);
       
       
    }
    /* banner online section end  */


    /* featured area start  */
    
}





/* tablet view  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* nav section start  */

    .nav-container{
  
        flex-direction: column;
        text-align: center;
        }
    
        .nav-item-container{
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-top: 10px;
          
        }
     

        .nav-item-container a{
    
            margin-top: 20px;
        
        }

        /* nav section end  */

           /* banner section area  */
  

    .banner-photo ,img{
        width: 80%;
        margin-left: 0px;
        text-align: center;
        
        
      
    
    }

    
    .banner-text{
        width: 100%;
        text-align: center;
    }

    .banner-text p{
       
      text-align: center;

    
    
    }

    /* banner section end  */

    .banner-online-photo{
        width: 72%;
    }
    .banner-online-text{
        width: 72%;
    }

    .banner-online{
        flex-direction: column-reverse;
    }

    .anywhere{
        font-size: 2.5rem;
        }
    


    .banner-online-text h3{
        
        margin-left: 0px;
        text-align: center;
        font-size: 2.5rem;
        
    
    }
    .banner-online-text p{
        
        margin-left: 0px;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
        
        
    
    }

    .banner-online-photo img{
        margin-left:0px;
       
        
    }

    .rectangle-photo{
        position: absolute;
        left: 40%;
        text-align: center;
        transform: translateX(40%);
       
       
    }
    
}